<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Dogs</title>
  </head>
  
  <body>
    <h1>Favorite Dogs</h1>
    <img src="http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Australian-Shepherd-3.jpg">
    <form method ="POST" method='/dogs'>
      <p>Your Name:<input type="text" name="name"></p>
      <P>Favorite Dog Breed:<input type="text" name="favorite_dog"> </p>
      <input type="submit">
      
      
    </form>
  </body>
</html>
